@model Soccer.Models.TranDau

@{
    ViewBag.Title = "Chỉnh sửa trận đấu";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.MaGiaiDau, "Giải đấu", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("MaGiaiDau", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaGiaiDau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MaDoiNha, "Đội nhà", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("MaDoiNha", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDoiNha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MaDoiKhach, "Đội khách", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("MaDoiKhach", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDoiKhach, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MaSan, "Sân vận động", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("MaSan", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaSan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ThoiGianDuKien, "Thời gian dự kiến", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.ThoiGianDuKien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianDuKien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.TrangThai, "Trạng thái", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.TrangThai, ViewBag.TrangThai as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.MaTrongTaiChinh, "Trọng tài chính", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("MaTrongTaiChinh", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaTrongTaiChinh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.TiSoDoiNha, "Tỉ số đội nhà", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.TiSoDoiNha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TiSoDoiNha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.TiSoDoiKhach, "Tỉ số đội khách", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.TiSoDoiKhach, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TiSoDoiKhach, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}