@model Soccer.Models.TrongTai
@{
    ViewBag.Title = "Xóa Trọng Tài";
}

<h2 class="text-center mb-4">Xóa Trọng Tài</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Bạn có chắc chắn muốn xóa trọng tài này?</h3>
                    <hr />
                    <dl class="row">
                        <dl class="row">
                            <dt class="col-sm-3">Họ</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ho)</dd>
                            <dt class="col-sm-3">Tên</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ten)</dd>
                            <dt class="col-sm-3">Ngày Sinh</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.NgaySinh)</dd>
                            <dt class="col-sm-3">Quốc tịch</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.QuocTich)</dd>
                            <dt class="col-sm-3">Kinh Nghiệm</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.SoNamKinhNghiem) năm</dd>
                        </dl>
                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            @Html.ActionLink("Quay Lại Danh Sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>